// Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  overflow-x: hidden;
}

.paragraph {
  color: #484848;
}

#custom-navbar-toggler {
  border: none;
  padding: 8px;
  transition: 0.3s;
  font-size: 1.4em;
  color: #2c2c2c;
}

//removing modal transform
.modal-dialog {
  .modal.fade & {
    transform: none;
  }
}

.file-shown {
  opacity: 1 !important;
  display: block;
  position: relative !important;

  &.filled {
    padding: 6px;
    margin: 5px 0;
  }
}

.centered {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.align-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.login {
  margin-top: 50px;
}

.border-login {
  border: 3px solid #ebebeb;
  padding: 40px 1% 40px 1%;
  border-radius: 1%;
}

.sidebar-active {
}

.sidebar-moved {
  transform: translateX(0);
}

.content-moved {
  transform: translateX($sidebar-container-width);
}

#checkbox-menu {
  position: absolute;
  opacity: 0;
  display: none;

  &:checked {
    + .hamburguer-menu span:nth-child(1) {
      transform: rotate(-45deg);
      top: 8px;
    }
    + .hamburguer-menu span:nth-child(2) {
      opacity: 0;
    }
    + .hamburguer-menu span:nth-child(3) {
      transform: rotate(45deg);
      top: 8px;
    }
  }
}

.hamburguer-menu {
  cursor: pointer;
  position: relative;
  display: block;
  height: 22px;
  width: 28px;

  span {
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background: #315561;
    transition: 0.25s ease-in-out;

    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 8px;
    }
    &:nth-child(3) {
      top: 16px;
    }
  }
}

.select-2 {
  height: 38px;
  border: 1px solid #ddd;
}

.select2-container {
  width: 100%;
  display: block;
}
