.main-panel {
  background: #f2f2f2;
}

//login
.section-login {
  height: 100%;

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .container-login {
      justify-content: center;

      .border-login {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 28px 16px;

        .close {
          padding: 8px 12px;
          margin: 4px 0;

          span {
            font-size: 18px;
          }
        }

        .row {
          padding-bottom: 16px;
        }

        .forgot_password {
          display: block;
          text-align: right;
          padding-top: 12px;
        }
      }
    }
  }
}

hr {
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.2;
  margin: .5rem;
}

//painel
.card-header-single {
  display: flex;
  justify-content: space-between;
}

.form-control:disabled, .form-control:read-only {
  background-color: inherit;
}